<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!-- 
        The https://www.nuget.org/packages/LlamaParse pacakge is using a dependency that is not available for download. 
        As a workaround, this repo is using a nuspec file created by running dotnet pack -c Release
        locally for https://github.com/run-llama/llamaindex.net repo.
    -->
    <add key="workaround" value="workaround" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
