# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET  
on:    
  push:      
    branches: [ "main" ]    
  pull_request:      
  workflow_dispatch:
  
jobs:
  buildLibs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dotnet-version: 9.x
            framework: net9.0
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 9.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.x
      - name: Setup .NET ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install markitdown
        run: pip install 'markitdown[all]'
      - name: Install optimum exporters and onnxruntime
        run: pip install 'optimum[exporters]' 'optimum[onnxruntime]'
      - name: Export model to ONNX
        run: optimum-cli export onnx --model tim1900/bert-chunker-3 ./bert-chunker-3
      - name: Restore dependencies
        run: dotnet restore
      - name: BuildLibs
        run: dotnet build ./DataIngestion.sln --framework ${{ matrix.framework }}
      - name: TestLibs
        run: dotnet test ./DataIngestion.sln --no-build --verbosity normal --framework ${{ matrix.framework }}
